*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-gray: #aaa;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

h1 {
  font-size: 6rem;
  font-family: 'Inter', sans-serif;
}

h3 {
  font-size: 2rem;
  color: #DFDDDD;
  margin-top: 10rem;
}

a {
  text-decoration: none;
}

/*************************************************************************
                                  Header
*************************************************************************/

header {
  grid-column: 1 / -1;
  height: 25vh;
  width: 100%;
  background-color: #0E0E0E;
  position: relative;
}

.header-img {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('./images/movie-posters.png') center no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.title {
  grid-column: 2 / 3;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.title a {
  font-size: 1.6rem;
  color: white;
}

/*************************************************************************
                          Form input & button
*************************************************************************/

form {
  grid-column: 2 / 3;
  width: 100%;
  margin: -5% 0;
  z-index: 100;
  
  display: flex;
  align-items: center;
}

#searchbar {
  height: 4rem;
  width: 90%;
  padding: 1rem 3.3rem;
  border-radius: 6px 0 0 6px;
  /* add the search icon */
  background: url("./images/Icon.png") no-repeat 1rem center;
  background-color: white;
}

#searchbar:focus {
  outline: none;
}

#search-button {
  height: 4rem;
  width: 10%;
  border-radius: 0 6px 6px 0;
}

/*************************************************************************
                            Search Results
*************************************************************************/

.results {
  grid-column: 2 / 3;
  background: url("./images/Icon-film.png") no-repeat center;
  /* height: 73vh; */
  list-style: none;
  margin-top: 3%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie {
  grid-column: 2 / 3;
  height: 25vh;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
}

.movie-poster {
  height: 90%;
  margin-right: 2rem;
}

.movie-info {
  display: flex;
  flex-direction: column;
}

.star-icon {
  width: 4.5rem;
}

.movie-data-div {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.movie-data {
  display: inline;
  margin-right: 2rem;
}

#add-to-watchlist-btn {
  color: black;
  cursor: pointer;
}

.movie-desc {
  color: #6B7280;
  margin-top: 1rem;
  font-size: 1.6rem;
}

/*************************************************************************
                                Watchlist
*************************************************************************/



.results-msg {
  margin: 13.5rem 0 1rem;
}

#add-movies-link {
  font-size: 2rem;
  color: black;
  background: url("./images/Icon-plus.png") no-repeat left;
  padding: .5rem 3rem;
}

.star-icon {
  margin: 0 2rem 0 4rem;
}

#remove-from-watchlist-btn {
  color: red;
  cursor: pointer;
}

#remove-from-watchlist-btn::before {
  background: url("./images/Icon-plus.png") no-repeat center;
}